/* Header */
$menu-color: transparent;
$header-height: 60px;
$mobile-header-height: 74px;
$mobile-menu-width: 300px;
$min-menu-size: 850px;
$reading-font: "University Oldstyle";

/* widths */
$main-max-width: 1300px;

/* Misc */
$base-speed: 150ms;

$tablet: 900px;
$mobile: 650px;
